h3 {
  margin: 0;
}

ul li {
  /*list-style: none;*/
}

.dark-blue {
  background-color: #000026;
}

.white {
  background-color: #fff;
}

.light-grey {
  background-color: #f6f6f6;
}

.teal {
  background-color: #01C5BB;
}

.white-text {
  color: white;
}

.dark-blue-text {
  background-color: #000026;
}

.column {
  display: flex;
  flex-flow: column wrap;
}

#nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 2%;
  padding-right: 2%;
}

#white-box {
  height: 2em;
  width: 6em;
  border: 1px solid white;
  color: white;
  font-size: 8px;
  text-align: center;
  padding: 0.75em 0 0 0;
}

#main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Time New Roman;
  font-size: 3em;
  padding-top: 20%;
  padding-bottom: 20%;
}


.arrow-divider {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.arrow {
  text-align: center;
  font-size: 1em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 0.6em;
  padding-top: 1em;
  border-radius: 50%;
  margin-bottom: -3%;
  width: 2em;
}

.field {
  padding: 10% 0 10% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.field-title {
  font-family: Helvetica;
}

.skinny {
  font-weight: 100;
}

.block-description {
  width: 25em;
  margin-right: 3%;

}

.block-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3%
}

#triangle-circle {
  height: 15em;
  width: 15em;
  background-image: url('triangle-circle.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

#plus-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 2em;
  height: 2em;
  font-size: 2em;
  border-radius: 50%;
}

#big-curly-braces {
  font-size: 10em;
  font-family: 'Courier New';
  margin-right: 7%;
}


#specialty .block-description {
  margin-left: 7%;
}

#portfolio-section {
  padding-top: 20%;
  text-align: center;
}

#call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 11% 15% 11%;
  padding: 8% 10% 8% 10%;
  border: 1px solid white;
  font-family: 'Times New Roman';
}

#call-to-action h2.field-title {
  font-family: 'arial';
  font-weight: 100;
}

#dribble-button {
  width: 85%;
  flex-basis: 10%;
  font-family: 'Helvetica';
  font-size: 1em;
  border: 1px solid white;
  padding: 5% 0 5% 0;
  font-weight: bolder;
}

#contact {
  display: flex;
  flex-flow: column wrap;
}

#contact-section {
  display: flex;
  justify-content: space-around;
  padding: 14% 12% 14% 12%;
  border: 1px solid white;
}

#contact-info {
  flex-flow: column wrap;
  border: 1px solid white;
  width: 20em;
}

#latest-tweets {
  border: 1px solid white;
    width: 20em;

}

