h3 {
  margin: 0;
}

ul li {
  list-style: none;
  margin: 5%;
}

.black {
  background-color: #000;
}

.white {
  background-color: #fff;
}

.light-grey {
  background-color: #f6f6f6;
}

.teal {
  background-color: #01C5BB;
}

.white-text {
  color: white;
}

.column {
  display: flex;
  flex-flow: column wrap;
}

#nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 2%;
  padding-right: 2%;
}

#white-box {
  height: 2em;
  width: 6em;
  border: 1px solid white;
  color: white;
  font-size: 8px;
  text-align: center;
  padding: 0.75em 0 0 0;
}

#main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  padding-bottom: 10%;
}

.logo-image {
  background-image: url('vct_logo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 15em;
  height: 15em;
}

.arrow-divider {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.arrow {
  text-align: center;
  font-size: 1em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 0.6em;
  padding-top: 1em;
  border-radius: 50%;
  margin-bottom: -2%;
  width: 2em;
}

.field {
  padding: 10% 0 10% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.field-title {
  font-family: Helvetica;
}

.skinny {
  font-weight: 100;
}

.block-description {
  width: 25em;
  margin-right: 3%;

}

.block-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3%
}

#triangle-circle {
  height: 15em;
  width: 15em;
  background-image: url('triangle-circle.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

#plus-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  width: 2em;
  height: 2em;
  font-size: 2em;
  border-radius: 50%;
}

#big-curly-braces {
  font-size: 10em;
  font-family: 'Courier New';
  margin-right: 7%;
}


#specialty .block-description {
  margin-left: 7%;
}

#portfolio-section {
  padding-top: 20%;
  text-align: center;
}

#call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 11% 15% 11%;
  padding: 8% 10% 8% 10%;
  border: 1px solid white;
  font-family: 'Times New Roman';
}

#call-to-action h2.field-title {
  font-family: 'arial';
  font-weight: 100;
}

#dribble-button {
  width: 85%;
  flex-basis: 10%;
  font-family: 'Helvetica';
  font-size: 1em;
  border: 1px solid white;
  padding: 5% 0 5% 0;
  font-weight: bolder;
}

#contact-section {
  display: flex;
  justify-content: space-around;
  padding: 14% 12% 14% 12%;
}

#contact-info {
  width: 20em;
}

#latest-tweets {
  width: 20em;
}

.borderline {
  background-color: white;
  height: 1px;
  width: 100%;
  margin-bottom: 8%;
  margin-top: 8%;
}


#contact-section ul {
  width: 20em;
  padding-left: 0;
}

#contact-me {
  display: flex;
  padding: 20%;
  text-align: center;
  justify-content: center;
}

#contact-form {
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Times New Roman';
  font-style: italic;
}

#contact-form input {
  font-family: 'Times New Roman';
  font-style: italic;
  background-color: #000;
  color: white;
  margin-bottom: 5%;
  border-style: none;
  border-bottom: 1px solid white;
  padding: 2%;
}

#contact-form input:focus {
  outline: none;
}

#contact-me input[name] {
  display: flex;
  flex-grow: 1;
  order: 0;
}

#contact-me input[phone] {
  order: 1;
}

#contact-me input[email] {
  order: 2;
}

.form-message {
  background-color: #000;
  color: white;
  order: 3;
  border: 1px solid white;
}

.form-message:focus {
  outline: none;
}

#form-message-title {
  text-align: left;
  order: 2;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

@media only screen and (max-width: 680px) {
  #contact-section h2 {
    align-items: center;
  }

  #contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30%;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #contact-form {
    display: flex;
    justify-content: flex-start;

  }


}

